.test1 {

  height: auto;
  border: none;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.025em;
  font-family: 'Vectora LT Std', sans-serif;
  position: fixed;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  z-index: 1060 !important;
  background: #fff;
  animation-name: modal-desktop-open;
  animation-timing-function: cubic-bezier(0.2, 0.3, 0, 1);
  animation-duration: 1s;
  animation-fill-mode: both;
  pointer-events: all;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #333;

  padding: 0.2em;
  outline: 0;
}
@media (min-width: 1024px) {
  .popin-container,
  .ui-dialog {
    width: 50% !important;
    left: auto !important;
  }
}
.test2 {
  z-index: 9999;
  text-indent: 0;
  top: 2.5rem;
  right: 2.5rem;
  height: auto;
  width: auto;
  font-size: 1.5rem;
  line-height: 1.25rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute !important;
  margin: 0;
  padding: 0;
  border: none;
  background: 0 0;
  font-family: 'Vectora LT Std', sans-serif;
}
@media (min-width: 1024px) {
  .ui-dialog .ui-dialog-titlebar-close .icon,
  .ui-icon-closethick {
    display: none;
  }

  .ui-dialog .ui-dialog-titlebar-close .icon,
  .ui-icon-closethick {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 0.75rem;
    margin: 0;
    margin-top: -0.375rem;
    margin-left: -0.375rem;
    background-image: none;
    text-indent: 0;
    font-size: 0.75rem;
    line-height: 0.75rem;
  }
}


@media (min-width: 375px){
.ui-dialog {
    width: 100%;
}
}
