.field-wrapper {
    margin-bottom: 0.5rem;
    width: 100%;
}
.voucher-element  {
    padding: 1.25rem;
    color: #000;
    border: 1px solid #d9d9d9;
    position: relative;
}
.edit-voucherdelivery {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.25rem;
    border: none;
    background: 0 0;
    font-size: .6875rem;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1.25rem;
}
.voucher-selected {
    border: 1px solid #000;
}
.voucher-element.voucher-selected .edit-voucherdelivery {
    display: block;
}